<div class="container-fluid">
    <div class="row content">
        <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-center">
            <p class="text-muted footer-size">&copy; Демонстрационный проект &middot; 2019 &middot; Александр Шевченко<br/>Любые сторонние материалы носят исключительно ознакомительный характер</p>
        </div>
    </div>
</div>






