<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/books"><span class="glyphicon glyphicon-folder-open"></span> Библиотечка</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Меню навигации">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/books"><i class="fas fa-book fa-fw"></i> Книги</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/authors"><i class="fas fa-pen-nib fa-fw"></i> Авторы</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile"><i class="far fa-id-card fa-fw"></i> Профиль</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/logout" onclick="return confirm('Действительно выйти?')"><i class="fas fa-sign-out-alt fa-fw"></i> Выйти</a>
            </li>
        </ul>
    </div>
</nav>