<meta charset="UTF-8">
<!-- Подключение Bootstrap, JQuery и глобальных стилей -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">

<script src="/fontawesome-free-5.10.1-web/js/all.min.js"></script>
<link href="/fontawesome-free-5.10.1-web/css/all.min.css" type="text/css" rel="stylesheet">


<script src="/popper/popper.min.js"></script>
<link href="/stylesheets/style.css" rel="stylesheet">
<!--link rel="shortcut icon" href="images/favicon.png" type="image/jpg"-->
