html, body { /* общая настройка шрифтов и отображения для основного полотна */
    font-size: 100%;
    padding-top: 3em;
    margin-bottom: 2em;
    background-color: #ffffff;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 { /* общая настройка шрифтов заголовков, основного текста */
    font-size: large;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
p {
    font-size: medium;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-indent: 2em;
}
a {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.primary-title { /* детальная настройка основного заголовка */
    font-size: x-large;
    text-align: center;
    margin: 0.5em 0 0.8em;
}
.secondary-title {  /* детальная настройка второстепенного заголовка */
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 0.3em 0 0.5em;
}
.third-title {  /* детальная настройка третьестепенного заголовка */
    font-size: medium;
    text-align: center;
    font-weight: bold;
    margin: 0.1em 0 0.3em;
}
.fourth-title {  /* детальная настройка четвёртостепенного заголовка */
  font-size: medium;
  text-align: center;
}
.main-text { /* детальная настройка основного текста */
    font-size: medium;
    text-align: justify;
}
.notify-text { /* примечание */
    font-size: medium;
    text-align: center;
    font-style: italic;
    padding-top: 2em;
    padding-bottom: 2em;
}
.notify-text-compact {
    font-size: medium;
    text-align: center;
    font-style: italic;
}
.small-notify-text { /* маленкое примечание */
    font-size: small;
    text-align: center;
    font-style: italic;
}
.list-item { /* детальная настройка основного текста */
    font-size: medium;
    text-align: justify;
}
.list-item-italic { /* детальная настройка основного текста */
    font-size: medium;
    text-align: justify;
    font-style: italic;
}
.list-item-bold { /* детальная настройка основного текста */
    font-size: medium;
    text-align: justify;
    font-weight: bold;
}
.article-image {
    border: 2em;
}
.navbar-txt { /* цвет текста верхнего меню */
  color: whitesmoke;
}
.navbar-item:hover { /* цвет текста верхнего меню */
  background-color: #419641;
}
.navbar-brand {
  font-size: 100%;
}
.navbar-header-italic {
  text-align: center;
  font-style: italic;
}
.navbar-header-breaker {
  margin: 1em 0;
}
.container {
    width: auto;
    padding: 3em 0 15em;
}
.card-deck {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
}
.card {
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.navbar-nav { /* Параметры меню навигации */
  margin-bottom: 0;
  border-radius: 0;
}
a:hover { /* Параметры наведения на ссылки */
  color: #b63b4d;
  text-decoration: none;
}
.navbar a:hover { /* Параметры наведения на ссылки меню навигации */
  color: #b63b4d;
  -webkit-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
.navbar-header a:hover {
  color: #000000;
}
.icon-bar {
  background-color: #f5f5f5;
}
.btn {
  border-radius: 0.5em;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.alert {
  box-shadow: 0 10px 25px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}
.row.content { /* Параметры "строки" Bootstrap */
  height: 100%;
}
.bg-primary { /* Параметры основного меню */
  background-color: #419641;
}
.sidenav { /* Параметры подложки основного текста */
    padding: 1em 1em;
    margin: 0 0 5em;
    background-color: #f5f5f5;
    height: 100%;
    border-radius: 0.5em;
    box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.12), 5px 5px 8px 8px rgba(0,0,0,0.11);
}
footer { /* Параметры послесловия */
    background-color: #f5f5f5;
    padding: 1em 0 0;
    position: absolute;
    bottom: 0;
}
.footer-size {
    font-size: small;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
a.disabled { /* Параметры неактивной ссылки */
  pointer-events: none;
  cursor: default;
  color: #999999;
}
.table {  /* Параметры таблиц */
  word-wrap: break-word;
  overflow: hidden;
}
.btn-space { /* Отступы для кнопок */
  margin: 1em;
  text-align: left;
}
.btn-icon {
  padding-top: 0;
  padding-bottom: 0;
}
.btn > .icon {
  position: relative;
  left: -.75rem;
  display: inline-block;
  padding: .375rem .75rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: .25rem 0 0 .25rem;
}
.img-thumbnail {
    width: 500px;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.btn:hover{ /* Параметры кнопок при наведении */
  color: #ffffff;
  background-color: #b63b4d;
}
@media screen and (max-width: 1280px) { /* Параметры для мобильных устройств (не шире 1230 точек) */
  .btn-space {
    font-size: 9pt;
    margin: 0.3em;
  }
}
@media screen and (max-width: 1024px) { /* Параметры для мобильных устройств (не шире 1024 точек) */
  html, body { /* Общая настройка шрифтов и отображения для основного полотна */
    font-size: 98%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 98%;
  }
  p.main-text {
    font-size: 88%;
  }
  li.list-item {
    font-size: 80%;
  }
  li.list-item-italic {
    font-size: 80%;
  }
  li.list-item-bold {
    font-size: 80%;
  }
  .footer-size {
    font-size: 80%;
  }
  .btn-space {
    font-size: 7pt;
    margin: 0.3em;
  }
}
@media screen and (max-width: 768px) { /* Параметры для мобильных устройств (не шире 768 точек) */
  html, body { /* общая настройка шрифтов и отображения для основного полотна */
    font-size: 88%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 88%;
  }
  p.main-text {
    font-size: 78%;
  }
  li.list-item {
    font-size: 70%;
  }
  li.list-item-italic {
    font-size: 70%;
  }
  li.list-item-bold {
    font-size: 70%;
  }
  .footer-size {
    font-size: 70%;
  }
}
