<!DOCTYPE html>
<html lang = "ru">
<head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
</head>
<header><% include ../partials/header.ejs %></header>
<body class="container-fluid">
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">403</span>
                <div class="mb-4 lead">Доступ запрещён.</div>
                <a href="/" class="btn btn-primary"><i class="fa fa-home fa-fw"></i> На главную</a>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="fixed-bottom"><% include ../partials/footer.ejs %></footer>
</html>