<!DOCTYPE html>
<html lang = "ru">
<head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
</head>
<header><% include ../partials/headerauth.ejs %></header>
<body class="container-fluid">
<div class="row content">
    <div class="col"></div>
    <div class="col-8 text-center sidenav">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h4 class="secondary-title">Авторы</h4>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="/images/Achille_Marozzo.jpg" alt="Акилле Мароццо">
                <div class="card-body">
                    <h5 class="card-title text-center">Акилле Мароццо</h5>
                    <p class="card-text text-justify">Мастер итальянского фехтования 16 века в традиции Болонской школы (школа Дарди).</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Мастер фехтования</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/images/Ridolfo_Capo_Ferro.jpg" alt="Ридольфо Капо Ферро да Кальи">
                <div class="card-body">
                    <h5 class="card-title text-center">Ридольфо Капо Ферро да Кальи</h5>
                    <p class="card-text text-justify">Итальянский мастер фехтования 17 века из города Сиена. Создатель цельной, универсальной фехтовальной теории. Впервые чётко изложил многие понятия, касающиеся фехтовального искусства.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Мастер фехтования</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/images/Francesco_Alfieri.jpg" alt="Франческо Фердинандо Альфиери">
                <div class="card-body">
                    <h5 class="card-title text-center">Франческо Фердинандо Альфиери</h5>
                    <p class="card-text text-justify">Мастер фехтования 17 века, яркий представитель венецианской школы фехтования.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Мастер фехтования</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/images/Camillo_Agrippa.jpg" alt="Камилло Агриппа">
                <div class="card-body">
                    <h5 class="card-title text-center">Камилло Агриппа</h5>
                    <p class="card-text text-justify">Мастер Венецианской школы фехтования 16 века, архитектор, инженер. Основоположник применения геометрической теории и логики для решения задач фехтования.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Мастер фехтования</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/images/Alfred_Hutton.jpg" alt="Альфред Хаттон">
                <div class="card-body">
                    <h5 class="card-title text-center">Альфред Хаттон</h5>
                    <p class="card-text text-justify">Английский мастер фехтования 19 века, историк, коллекционер холодного оружия.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Мастер фехтования</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/images/Ivan_Siverbrik.jpg" alt="Иван Ефимович Сивербрик">
                <div class="card-body">
                    <h5 class="card-title text-center">Иван Ефимович Сивербрик</h5>
                    <p class="card-text text-justify">Русский мастер фехтования 19 века, старший учитель фехтования 1-го Кадетского Корпуса.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Мастер фехтования</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
</body>
<footer class="fixed-bottom"><% include ../partials/footer.ejs %></footer>
</html>