<!DOCTYPE html>
<html lang = "ru">
<head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="datatables-1.10.18/datatables.css"/>
    <script type="text/javascript" src="datatables-1.10.18/datatables.js"></script>
    <script type="text/javascript" src="datatables-1.10.18/jszip.min.js"></script>
    <script type="text/javascript" src="datatables-1.10.18/pdfmake.min.js"></script>
    <script type="text/javascript" src="datatables-1.10.18/vfs_fonts.js"></script>
    <script type="text/javascript" src="datatables-1.10.18/buttons.html5.min.js"></script>
    <script type="text/javascript" src="datatables-1.10.18/buttons.print.min.js"></script>
</head>
<header><% include ../partials/headerauth.ejs %></header>
<body class="container-fluid">
<div class="row content">
    <div class="col"></div>
    <div class="col-8 text-center sidenav">
        <div id="errorBlock"></div>
        <div id="dataBlock"></div>
    </div>
    <div class="col"></div>
</div>
<script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "/getlibrary",
            dataType: "json",
            success: function (data) {
                let tblData = [];
                let tbl = $("#dataBlock");
                let categoryData = "";
                for (let i = 0; i < data.library.length; i++) {
                    tblData.push({
                        title: data.library[i].title,
                        author: data.library[i].author,
                        year: data.library[i].year,
                        popularity: data.library[i].popularity,
                        image: '<img class="img-fluid img-thumbnail" src="' + data.library[i].image + '" alt="' + data.library[i].author + '. «' + data.library[i].title + '»">'
                    });
                }
                tbl.empty().html('<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">' +
                    '            <h4 class="secondary-title">Библиотечка</h4>' +
                    '        </div>' +
                    '        <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12">' +
                    '            <table class="table table-striped table-bordered" id="books_table" width="100%">' +
                    '               <thead>' +
                    '                   <tr>' +
                    '                       <th class="datatable-th">Название</th>' +
                    '                       <th class="datatable-th">Автор</th>' +
                    '                       <th class="datatable-th">Год</th>' +
                    '                       <th class="datatable-th">Популярность</th>' +
                    '                       <th class="datatable-th">Обложка</th>' +
                    '                   </tr>' +
                    '           </thead>' +
                    '               <tbody></tbody>' +
                    '            </table>' +
                    '        </div>');
                let statesTable = $('#books_table').DataTable({
                    language: {
                        processing: "Подождите...",
                        search: "Поиск:",
                        lengthMenu: "Показать записи: _MENU_",
                        info: "Записи с _START_ до _END_ из _TOTAL_ записей",
                        infoEmpty: "Записи с 0 до 0 из 0 записей",
                        infoFiltered: "(отфильтровано из _MAX_ записей)",
                        infoPostFix: "",
                        loadingRecords: "Загрузка записей...",
                        zeroRecords: "Записи отсутствуют.",
                        emptyTable: "В таблице отсутствуют данные",
                        paginate: {
                            first: "Первая",
                            previous: "Предыдущая",
                            next: "Следующая",
                            last: "Последняя"
                        },
                        aria: {
                            sortAscending: ": активировать для сортировки столбца по возрастанию",
                            sortDescending: ": активировать для сортировки столбца по убыванию"
                        }
                    },
                    data: tblData,
                    columns: [
                        {data: 'title'},
                        {data: 'author'},
                        {data: 'year'},
                        {data: 'popularity'},
                        {data: 'image'}
                    ],
                    order: [[ 2, 'asc' ]],
                    lengthMenu: [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "все"] ],
                    iDisplayLength: 5,
                    responsive: true,
                    columnDefs: [
                        {responsivePriority: 1, targets: 0},
                        {responsivePriority: 2, targets: 4} ],
                    deferRender: true,
                    fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        categoryData = aData.result + "";
                        categoryData = categoryData.replace(/%/g, "");
                    }
                });
            },
            error: function () {
                $("#errorBlock").empty().html('<div class="alert alert-danger" role="alert">' + '<a href="#" class="close" data-dismiss="alert">×</a>' + 'Данные загрузить не удалось.' + '</div>');
            }
        });
    });
</script>
</body>
<footer class="fixed-bottom"><% include ../partials/footer.ejs %></footer>
</html>