<!DOCTYPE html>
<html lang = "ru">
  <head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
  </head>
  <header><% include ../partials/header.ejs %></header>
  <body class="container-fluid">
      <div class="row content">
          <div class="col"></div>
          <div class="col-8 text-center sidenav">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <h4 class="secondary-title">Вместо приветствия</h4>
              </div>
              <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <img class="img-fluid rounded-circle" src="/images/Capo_Ferro_Intro.jpg" alt="Capo Ferro Fencing">
              </div>
          </div>
          <div class="col"></div>
      </div>
  </body>
  <footer class="fixed-bottom"><% include ../partials/footer.ejs %></footer>
</html>
