<!DOCTYPE html>
<html lang = "ru">
<head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
</head>
<header><% include ../partials/header.ejs %></header>
<body class="container">
<div class="row content">
    <div class="col"></div>
    <div class="col-8 text-center sidenav">
        <h2 class="secondary-title">Вход в систему</h2>
        <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
            <div class="form-group row">
                <div class="form-group col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 has-feedback">
                    <div class="text-center"><label class="text" for="inputName">Логин</label></div>
                    <div class="input-group input-focus">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white"><i class="fas fa-user-secret fa-fw"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputName" name="user" placeholder="Введите имя пользователя (Admin)" required>
                    </div>
                </div>
                <div class="form-group col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 has-feedback">
                    <div class="text-center"><label class="password" for="inputPassword">Пароль</label></div>
                    <div class="input-group input-focus">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white"><i class="fas fa-lock fa-fw"></i></span>
                        </div>
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Введите пароль (123)" required>
                    </div>
                </div>
                <div class="form-group col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <div id="errorBlock"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="submition">Подтвердить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
<script>
    let someWords = "<%= message %>";
    console.log(someWords);
    if(someWords === "failure") {
        $("#errorBlock").empty().html('<div class="alert alert-danger" role="alert">' + '<a href="#" class="close" data-dismiss="alert">×</a>' + 'Введены некорректные данные!' + '</div>');
    } else {
        $("#errorBlock").empty();
    }
</script>
</body>
<footer class="fixed-bottom"><% include ../partials/footer.ejs %></footer>
</html>