<!DOCTYPE html>
<html lang = "ru">
<head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
</head>
<header><% include ../partials/headerauth.ejs %></header>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 text-center sidenav">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h4 class="secondary-title">Профиль</h4>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="img-fluid img-thumbnail" src="/images/Alfieri_Profile.jpg" alt="Capo Ferro Fencing">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">Данные профиля</h4>
                            <p class="card-text text-justify">Пользователь Admin.</p>
                            <p class="card-text text-justify">Широкая электрификация южных губерний даст мощный толчок подъёму сельского хозяйства.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Последний раз был замечен в 17 веке</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
<footer class="fixed-bottom"><% include ../partials/footer.ejs %></footer>
</html>
